.policy {
    padding: 50px 0 50px 0;

    &__title {
        margin-bottom: 40px;
    }

    &__list {
        margin-top: 55px;
        list-style-type: square;
        
    }
    
    &__list-item {
        padding: 50px 0 0 18px;
    }
}